@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body, ul, li {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserat', sans-serif;
}

li {
    list-style: none;
}

.header {
    background-color: rgb(121, 246, 255);
    color: white;
    height: 80px;
}

.header-logo {
    float: left;
    padding: 20px 40px;
    font-size: 34px;
}

.header-menu {
    float: left;
}

.header-menu li {
    float: left;
    padding: 30px 20px;
}
